################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/azure-ad-samples/bin/Debug/netcoreapp2.1
/azure-ad-samples/obj
